body {
	font-family: "Cactus Classical Serif", serif;
  	font-weight: 400;
  	font-style: normal;
	background: #e9dacf;
	color: #2d6e6d;
}
h1, h2, h3, h4 {
	font-family: 'Roboto Mono', monospace;
}
.container {
	max-width: 840px;
	margin: 0 auto;
}
.container > div {
	margin: 20px auto;
}
hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.profile-pic {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	box-shadow: 0 4px 6px 0 rbga(34, 60, 80, 0.16);
	transition: all ease-in-out 0.2s;
	object-fit: cover;
}
.profile-pic:hover {
	box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.9);
}
.intro {
	text-align: center;
}
#quote {
	font-style: italic;
}
.about-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}
.i-am, .i-like {
	text-align: center;
}
.about-list {
	list-style: none;
}
@media (max-width: 480px) {
	.about-grid {
		grid-template-columns: 100%;
	}
}
.project-header {
	text-align: center;
}
.project-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}
@media (max-width: 650px) {
	.project-grid {
		grid-template-columns: 100%;
	}
}
.project-img {
	border-radius: 5px;
	box-shadow: 0 4px 6x 0 rgba(34, 60, 80, 0.16);
	transition: all ease-out 0.3s;
	width: 300px;
	height: 300px;
}
.project-img:hover {
	filter: brightness(.30);
	box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
}
.project-img-wrapper {
	justify-self: center;
	padding: 4%;
	position: relative;
}
.project-img-wrapper:hover > p {
	visibility: visible;
}
.project-img-wrapper:hover {
	.project-img {
		filter: brightness(.25);
	}
}
.project-img-wrapper > p {
	position: absolute;
	top: 36%;
	left: 40%;
	transform: translate(-50%, -50%);
	color: #e9dacf;
	visibility: hidden;
	z-index: 2;
}
.links-and-contact {
	display: grid;
	grid-template-columns: 50% 50%;
}
.links {
	justify-self: right;
	padding-right: 20px;
}
.contact {
	justify-self: left;
	padding-left: 20px;
}
.links-list {
	list-style: none;
	padding: 0;
}
@media (max-width: 650px) {
	.links-and-contact {
		grid-template-columns: 100%;
	}
	.links {
		justify-self: center;
	}
	.contact {
		justify-self: center;
	}
}
form input, textarea {
	width: 280px;
	font-family: "Cactus Classical Serif", serif;
}
button {
	width: 285px;
	font-family: "Cactus Classical Serif", serif;
}
